html{
    background-color: black;
}
body{
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MIT{
 height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
    background: radial-gradient(circle at 50% 50%, #111 0%, #050505 100%);
}
