html{
    background-color: black;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #0055ff;
}
.MIT{
    font-size: large;
    text-align: center;
    font-style: bold;
}